{% extends "layouts/base.html" %}
{% block content %}

<h1>{{ event.name }}</h1>

<p><strong>Fecha:</strong>{{ event.event_date }}</p>
<p><strong>Nivel de riesgo:</strong>{{ event.get_risk_level_display }}</p>
<p><strong>Descripción:</strong>{{ event.description }}</p>

<h2>Amenazas asociadas</h2>

<ul>
    {% for threat in event.threats.all %}
        <li>
            <strong>{{ threat.name }}</strong>
        </li>
    {% empty %}
        <li>No existen amenazas asociadas.</li>
    {% endfor %}
</ul>

    <h2>Representación Matemática del Riesgo</h2>

    <canvas id="riskChart" width="800" height="400"></canvas>

    {{ points|json_script:"risk-data" }}

    /
        Volver
    </a> <!--- TODO falta ver--->

<!--- scripts --->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const riskData = JSON.parse(
        document.getElementById('risk-data').textContent
    );

    const labels = riskData.map(point => point.x);
    const values = riskData.map(point => point.y);

    const ctx = document.getElementById('riskChart');

    new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Nivel de Riesgo',
                data: values,
                borderColor: 'rgb(220, 53, 69)',
                backgroundColor: 'rgba(220, 53, 69, 0.2)',
                borderWidth: 3,
                tension: 0.4,
                fill: true,
                pointRadius: 4
            }]
        },
        options: {
            responsive: true,
            plugins: {
                title: {
                    display: true,
                    text: 'Comportamiento del Riesgo Asociado al Evento'
                }
            },
            scales: {
                x: {
                    title: {
                        display: true,
                        text: 'Días respecto al evento'
                    }
                },
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Nivel de Riesgo'
                    }
                }
            }
        }
    });
</script>

{% endblock %}
